.table{
    display: grid;
    grid-template-areas: 
    'name username  username  username username username username create'
    'post content content content content content content create'
    'post content content content content content content create';
    grid-auto-rows: 1fr;
    }

.name{
    grid-area: name;
    display: flex;
    justify-content: right;
    padding: 1rem;
}
.username{
    display: flex;
    grid-area: username;
    width: 100%;
}
.post{
    display: flex;
    grid-area: post; 
    justify-content: right;
    padding: 1rem;
    
}
.content{
    grid-area: content;
    max-width: 100%;
    
}
.create{
    display: flex;
    grid-area: create;
    display: flex;
    height: 2.5rem;
    width: 4rem;
    align-self: center;
    justify-self: center;
}

