.table{
    display: grid;
    grid-template-areas: 
    'date-label date blank blank blank blank blank blank'
    'name username username  username username username username create'
    'post content content content content content content create'
    'post content content content content content content create';
    grid-auto-rows: 1fr;
    }

.name{
    grid-area: name;
    font-size: 1.3rem;
    color: gray;
    display: flex;
    justify-content: right;
    padding: 1rem;
    font-weight: 550;

}
.username{
    font-size: 1.2rem;
    font-weight: 550;
    display: flex;
    grid-area: username;
    width: 100%;
}
.post{
    display: flex;
    font-size: 1.3rem;
    font-weight: 550;
    color: gray;
    grid-area: post; 
    justify-content: right;
    padding: 1rem;
    
}
.content{
    grid-area: content;
    max-width: 100%;
    
}
.create{
    display: flex;
    grid-area: create;
    display: flex;
    height: 2.5rem;
    width: 4rem;
    align-self: flex-end;
    justify-self: center;
}
.date{
    display: flex; 
    align-self: right;
}

.date-label{
    display: flex;
    font-size: 1.3rem;
    font-weight: 550;
    color: gray;
    grid-area: date-label; 
    justify-content: right;
    padding: 1rem;
}

